# Books Database Core Assignment
- Christina Reeder
- 23 Feb 2023

In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

## Database ERD

![fav_books_erd.png](fav_books_erd.png)

## Connect to MySQL Server

In [2]:
username = 'dcbailo89'
password = 'starwars77'
db_name = 'fav_books'
host_name = "192.168.1.6"
connection = f"mysql+pymysql://{username}:{password}@{host_name}/{db_name}"

In [3]:
engine = create_engine(connection)
engine

Engine(mysql+pymysql://dcbailo89:***@192.168.1.6/fav_books)

## Add Data Files to Database

In [4]:
# read files into pandas dataframes
users = pd.read_csv('Data/users.csv')
favorites = pd.read_csv('Data/favorites.csv')
books = pd.read_csv('Data/books.csv')
authors = pd.read_csv('Data/authors.csv')

In [5]:
# add data to existing dataframe
users.to_sql('users', engine, if_exists='replace');
favorites.to_sql('favorites', engine, if_exists='replace');
books.to_sql('books', engine, if_exists='replace');
authors.to_sql('authors', engine, if_exists='replace');

## Testing the Database

In [6]:
# show created tables
q = """
SHOW TABLES FROM fav_books
"""

pd.read_sql(q,engine)

  Tables_in_fav_books
0             authors
1               books
2           favorites
3               users

Write a query at the end of your Jupyter Notebook to list the titles of all of John Doe's favorite books

In [7]:
q = """
SELECT b.title, favorites.user_id
FROM books AS b
JOIN favorites ON b.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users 
    WHERE(users.last_name = 'Doe'
    AND users.first_name = 'John'));
"""

pd.read_sql(q,engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1